<div ng-if="paramsObj">
<div class="row">
	<a href ui-sref={{backTo}}>
		<span>Back to &#167; {{paramsObj.prevPage}}</span>
	</a>
</div>
</div>
<div flow-prevent-drop flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''">

    <h1 style="font-size:52px;">&nbsp;&nbsp;&nbsp;&nbsp;{{pageTitle}} Direct Certificate Discovery Tool </h1>
	<h2>Purpose of the {{pageTitle}} Direct Certificate Discovery Tool</h2>
	<p>
		The {{pageTitle}} Direct Certificate Discovery Tool (DCDT) was created to support automated testing of systems that plan to enact the Certificate Discovery and Provider Directory
		Implementation Guide, approved as normative specification by the Direct community, as of July 9, 2012. It is based on the written test package and requirement traceability matrix
		created by the Modular Specifications project under the direction of the Office of the National Coordinator (ONC) and National Institute of Standards and Technology (NIST).
	</p>

   <div class="panel panel-default">
      <div class="panel-heading" ng-style="{backgroundColor:blue}">The tool is divided into two main testing areas:</a></div>
      	<div class="panel-body">
        	<div class="list-group">
          		<div ng-repeat="toolitem in datatool"  class="list-group-item">
            		<a href="" style="color: black" ng-click="gotodiv(toolitem.hreflink)">{{toolitem.name}}</a>
          		</div>
        	</div>
      	</div>
      </div>
	</div>
<div>
<div class="col-sm-8">
		<div class="panel panel-default" id="panel_hosting">
			<div class="panel-heading">
				<h2 class="panel-title">Hosting - Verify your certificate can be discovered</h2>
			</div>
			<div class="panel-body">
				<div class="directions">Directions</div>
				<p>Step 1: Determine the required test cases for your SUT (System Under Test). Notice that there are two options
				for storage of address-bound and domain-bound certificates.</p>
				<p>Step 2: Select a test case that reflects the SUT from the dropdown.</p>
				<p>Step 3: Read the Description and Instructions for the selected test case. Then enter the Direct address and
				submit. Your SUT configuration may require that you select more than one test case. If so, then select one test
				case at a time, following the instructions to execute the test after each selection.</p>

<div class="well">
<form id="form-testcases-hosting" enctype="multipart/form-data"  ng-submit="hostingProcess()">
	<div id="testcase-info" class="input-group-small">
		<p> </p>
		<div class="form-group">
			<label for="testcase-hosting-select">Select a Hosting Test Case:</label>
			<select class="form-control" name="testcase-hosting-select" ng-model="selectedItem" required
			      ng-options="criteriaSel.name for criteriaSel in processes" ng-change="onSelectionChange(selectedItem,'process')">
			</select>
		</div>

		<div  class="directions" ng-if="dcdtResult">
			<dcdt-report data="dcdtResult"></dcdt-report>
		</div>
	<!-- For error and succes display -->
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</uib-alert>


		<div class="form-group">
			<p>
				<label for="testcase-hosting-direct-addr">Enter Your Direct Address:</label>
				<input id="testcase-hosting-direct-addr" class="form-control" name="directAddress" ng-model="directAddress" placeholder="direct email address" type="email">
			</p>
		</div>
		<div ng-if=hostingResultError>
			<div ng-if="hostingResultError.status ==='error'">
			       <div ng-repeat="errorobj in hostingResultError.errors.fields">
			         <uib-alert type="danger">{{errorobj[0].messages.toString()}}</uib-alert>
			      </div>
			</div>
		</div>
		<div class="form-group form-group-buttons">
			<span class="btn-group btn-group-sm">
				<button type="button" class="btn btn-primary start" tabindex="1" ng-click="validate()" id="testcase-hosting-submit"> <i class="glyphicon glyphicon-ok"></i>
					<span>Submit</span>
				</button> <button type="reset" class="btn btn-default start" tabindex="1"  ng-click="restdata()" id="testcase-hosting-reset"> <i class="glyphicon glyphicon-refresh"></i>
					<span>Reset</span>
				</button>
			</span>
		</div>
	</div>
		<div ng-if="hostingResult">
			<hosting-report data="hostingResult"></hosting-report>
		</div>
</form>
</div>





			 </div>
  		</div>
</div>

	<div class="col-sm-4">
		<div class="journal-content-article">
			<h2 style="font-size: 18px;"> DCDT Information</h2>
			<div class="row">
				<div class="col-sm-12 btn-group-vertical" style="width:100%">
				<div ng-if="year2015">
					<p class="btn btn-default" ><a href="{{propDcdtProtocol2015}}://{{propDcdtDomain2015}}/dcdt/version" target="_blank" style="color: black">DCDT Version Information</a>
				</div>
				<div ng-if="year2014">
					<p class="btn btn-default" ><a href="{{propDcdtProtocol2014}}://{{propDcdtDomain2014}}/dcdt/version" target="_blank" style="color: black">DCDT Version Information</a>
				</div>
			    <a href="{{disclaimerLink}}" target="_blank" style="color: black"><i align="right" class="fa fa-external-link"></i></a></p>
				<p class="btn btn-default" ><a href="https://groups.google.com/forum/#!forum/directtesttool" target="_blank" style="color: black">DCDT Forum</a>
			    <a href="{{disclaimerLink}}" target="_blank" style="color: black"><i align="right" class="fa fa-external-link"></i></a></p>
				<p class="btn btn-default" ><a href="https://github.com/esacinc/dcdt/tree/master" target="_blank" style="color: black">DCDT Project Repository</a>
			    <a href="{{disclaimerLink}}" target="_blank" style="color: black"><i align="right" class="fa fa-external-link"></i></a></p>
				<p class="btn btn-default" ><a href="http://confluence.siframework.org/display/DCDT" target="_blank" style="color: black">DCDT Documentation</a>
			    <a href="{{disclaimerLink}}" target="_blank" style="color: black"><i align="right" class="fa fa-external-link"></i></a></p>
				<p class="btn btn-default" ><a href="http://jira.oncprojectracking.org/browse/DCDT" target="_blank" style="color: black">DCDT Issue Tracker</a>
			    <a href="{{disclaimerLink}}" target="_blank" style="color: black"><i align="left" class="fa fa-external-link"></i></a></p>
				</div>
			</div>
		</div>
		<div class="journal-content-article">
			<h2 style="font-size:18px;"> Links to Direct Reference Information</h2>
			<div class="row">
				<div class="col-sm-12 btn-group-vertical" style="width:100%">
					<p class="btn btn-default" ><a href="http://wiki.directproject.org/" target="_blank" style="color: black">Direct Project Wiki</a>
				    <a href="{{disclaimerLink}}" target="_blank" style="color: black"><i align="right" class="fa fa-external-link"></i></a></p>
					<p class="btn btn-default" ><a href="https://github.com/aviars/getdc" target="_blank" style="color: black">Direct Certificate Download Utility</a>
				    <a href="{{disclaimerLink}}" target="_blank" style="color: black"><i align="right" class="fa fa-external-link"></i></a></p>
				</div>
			</div>
		</div>
	</div>

</div>



<div class="col-sm-8">
	<div class="panel panel-default" id="panel_discovery">
		<div class="panel-heading">
			<h2 class="panel-title">Discover DCDT's Certificates</h2>
		</div>
		<div class="panel-body">
			<div class="directions">Directions</div>
			<p>Step 1: Download the Testing Tool's trust anchor.</p>
			<div ng-if="year2015">
				<p style="margin-left: 15px;"> <a href="{{propDcdtProtocol2015}}://{{propDcdtDomain2015}}/dcdt/discovery/anchor" target="_blank" tabindex="1">Download Trust Anchor</a> </p>
			</div>
			<div ng-if="year2014">
				<p style="margin-left: 15px;"> <a href="{{propDcdtProtocol2014}}://{{propDcdtDomain2014}}/dcdt/discovery/anchor" target="_blank" tabindex="1">Download Trust Anchor</a> </p>
			</div>

			<p>Step 2: Upload the anchor to your Direct instance. This will allow you to send messages to our tool.</p>
			<p>Step 3: Using the form below, map the Direct email address from which you will be sending messages to a
			non-Direct email address that will receive a regular email containing test results. This email address should be
			able to receive plain text messages. Make sure you have access to the recipient email address in order to
			verify the receipt of the messages.</p>
			<div class="well">
				<form id="form-testcases-discovery-mail-mapping" action="about:blank" method="POST" enctype="multipart/form-data" target="_self" onsubmit="return false;" name="form-testcases-discovery-mail-mapping">
					<div class="form-group">
						<div>
							<label for="directAddress">Enter Your Direct Address:</label><br>
							<input id="directAddress" class="form-control" name="discEmailAddr"   ng-model="discEmailAddr"placeholder="direct email address" style="display: inline;" type="email" tabindex="1" data-parsley-required="" data-parsley-required-message="This field is required." data-original-title="" title="">
						</div>
						<div class="infoArea"></div>
					</div>
					<div class="form-group">
						<div>
							<label for="resultsAddress">Enter Your Email Address (for results):</label>
							<input id="resultsAddress" class="form-control" name="discResultEmailAddr"  ng-model="discResultEmailAddr" placeholder="results email address" style="display: inline;" type="email" tabindex="1" data-parsley-required="" data-parsley-required-message="This field is required." data-original-title="" title="">
						</div>
						<div class="infoArea"></div>
					</div>
					<hr>
	<uib-alert ng-repeat="alert in discalerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</uib-alert>
			<div ng-if=discoveryReport>
			<div ng-if="discoveryReport.status ==='error'">
			       <div ng-repeat="errorobj in discoveryReport.errors.fields">
			         <uib-alert type="danger">{{errorobj[0].messages.toString()}}</uib-alert>
			      </div>
			</div>
		</div>

					<div class="form-group form-group-buttons">
						<button id="discovery-mail-mapping-submit" type="button" class="btn btn-primary start" ng-click="discValidate()"> <i class="glyphicon glyphicon-ok"></i> <span>Submit</span> </button>
						<button id="discovery-mail-mapping-reset" type="reset" class="btn btn-default start" ng-click="resetDiscData()"> <i class="glyphicon glyphicon-refresh"></i> <span>Reset</span> </button>
					</div>

		<div class="discoveryReport" ng-if="discoveryReport">
		    <div ng-repeat="item in discoveryReport.items">

     <div>

        <uib-alert type="success">{{errorobj[0].messages.toString()}}
        <strong> <span class="glyphicon glyphicon-ok-sign"></span>Discovery mail mapping modified</strong>:
             <li><p style="font-size:70%; display: inline; width: 150px; word-break: break-all; word-wrap: break-word;">{{item.msg}}</p></li>
        </uib-alert>
        <ul>
        </ul>
     </div>


		    </div>
		</div>
				</form>
			</div>
			<p>Step 4: Choose a test case from the drop down menu below. Read the test case description below the "Direct
			Address" field, copy the displayed Direct address and proceed to step 5. You should run all of the tests in order
			to verify that your system can correctly discover certificates in either DNS CERT records or LDAP servers.
			(Note: your system MUST NOT already contain a certificate for the address selected or the test case will not be valid).</p>
			<p>Step 5: Attempt to send a message to the Direct address that you've just copied. Please only send to one
			address at a time. The test case results message will indicate the test case results. See the test case
			instructions for additional information.</p>

<div class="well">
<form id="form-testcases-discovery" action="about:blank" method="POST" target="_self" enctype="multipart/form-data" name="form-testcases-discovery">
	<div id="testcase-info" class="input-group-small">
		<p> </p>
		<div class="form-group">
			<label for="testcase-hosting-select">Select a Discovery Test Case:</label>
			<div  class="directions" ng-if="year2015">
			<select class="form-control" name="testcase-hosting-select" ng-model="discorySelectedItem" required
			      ng-options="criteriaSel.name for criteriaSel in discoveryTestCase" ng-change="onSelectionChange(discorySelectedItem,'discovery')">
			</select>
			</div>
            <div  class="directions" ng-if="year2014">
			<select class="form-control" name="testcase-hosting-select" ng-model="discorySelectedItem" required
			      ng-options="criteriaSel.name for criteriaSel in discoveryTestCase | filter: ignoreTestcase" ng-change="onSelectionChange(discorySelectedItem,'discovery')">
			</select>
            </div>
		</div>
		<div  class="directions" ng-if="dcdtDiscoveryResult">
			<dcdt-report data="dcdtDiscoveryResult"></dcdt-report>
		</div>
	</div>
</form>
</div>




		 </div>
	</div>
</div>

</div>