<h2><i class="fa fa-paper-plane-o"></i> Edge Testing Home</h2>
<br></br>

<p>This area provides various network "Edge" testing capabilities. The term "Edge" is derived from the health IT data exchange paradigm of network "Edge" nodes and health information service providers: Edge -> HISP -> HISP -> Edge.
<br></br>
The SMTP, IMAP and POP3 test cases accessed from the menu above validate the system under test's ability to send and receive in accordance with various standards, specifications and RFC's. These tests can assist system developers and implementers to ensure their transport protocols adhere to basic industry standards.
<br></br>
For those principally interested in testing for the 2015 Edition--please visit the "2015 Edition Testing by Criteria" to see what Edge tests are applicable for the respective criteria.</p>
<!--
<h2><i class="fa fa-paper-plane-o"></i> Email address endpoints for MDN</h2>

<p>
    A response MDN will be sent from ETT to your SUT upon reception of a SMTP message to those email addresses.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email address (To)</th>
            <th>Purpose</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="mdn in mdnAddresses">
            <td>
                <a ng-href="mailto:{{mdn.name}}">{{mdn.name}}</a>
            </td>
            <td>{{mdn.purpose}}</td>
            <td>
                <button class="btn btn-default" clipboard text="mdn.name" on-copied="displayGrowl('Data copied')" title="Copy to clipboard">
                    <i class="fa fa-clipboard"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<h2><i class="fa fa-paper-plane-o"></i> Bad MDN endpoints</h2>

<p>
    A response MDN will be sent from ETT to your SUT upon reception of a SMTP message to those email addresses.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email address (To)</th>
            <th>Purpose</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="mdn in badMdnAddresses">
            <td>
                <a ng-href="mailto:{{mdn.name}}">{{mdn.name}}</a>
            </td>
            <td>{{mdn.purpose}}</td>
            <td>
                <button class="btn btn-default" clipboard text="mdn.name" on-copied="displayGrowl('Data copied')" title="Copy to clipboard">
                    <i class="fa fa-clipboard"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


<h2><i class="fa fa-life-ring"></i> Support</h2>
<p>
    If you are looking for help about this tool <a href="https://groups.google.com/forum/#!forum/edge-test-tool" target="_blank">https://groups.google.com/forum/#!forum/edge-test-tool</a>
</p>
-->