<div class="row">
    <h2><i class="fa fa-cogs"></i> Change your password</h2>
    <hr>

    <div class="col-xs-7">

        <div class="form-group">
            <label class="control-label" for="oldPass">
                Old Password
                <i class="fa fa-question-circle" tooltips title="Old password" tooltip-side="right"></i>
            </label>
            <input type="password" placeholder="Old password" id="oldPass" class="form-control" ng-model="oldPassword">
        </div>

        <div class="form-group">
            <label class="control-label" for="newPass">
                New Password
                <i class="fa fa-question-circle" tooltips title="New password" tooltip-side="right"></i>
            </label>
            <input type="password" placeholder="New password" id="newPass" class="form-control" ng-model="newPassword">
        </div>

        <div class="form-group">
            <label class="control-label" for="confirmPass">
                Confirm new Password
                <i class="fa fa-question-circle" tooltips title="Confirm password" tooltip-side="right"></i>
            </label>
            <input type="password" placeholder="Confirm new password" id="confirmPass" class="form-control" ng-model="confirmPassword">
        </div>

    </div>
</div>

<div class="row">
    <hr>

    <button type="submit" class="btn btn-lg btn-primary center-block" ng-click="changePassword()" ladda="laddaLoading" data-style="expand-left">
        Save
    </button>
</div>
