<div  class="row-fluid" id="footer">
	<div>
		<div class="row">
		  <div class="footeritem col-sm-1 text-left" style="font-size:12px; height:25px;">
		  	&nbsp;
		  </div>
		  <div class="footeritem col-sm-3 text-left" style="font-size:12px; height:25px;">
			<strong>Version: </strong>{{properties.version}}
			<strong>Released: </strong>{{properties.lastUpdated}}
		  </div>
		  <div class="footeritem col-sm-7 text-right" style="font-size:12px; height:25px;">
			Inquiries or questions, email:  <a href="{{properties.dttgroup}}" target="_blank">{{properties.dttgroup}}</a>
			or <a href="mailto:{{properties.dttemail}}" target="_blank">{{properties.dttemail}}</a>
			</a>
		  </div>
		  <div class="footeritem col-sm-1 text-right" style="font-size:12px; height:25px;">
		  	&nbsp;
		  </div>
		</div>
	</div>
	<div>
		<div class="row">
		  <div class="footeritem col-sm-1 text-left" style="font-size:12px; height:25px;">
		  	&nbsp;
		  </div>
		  <div class="footeritem col-sm-5 text-left" style="font-size:12px; height:25px;">
				<a ui-sref="ccda.announcement" target="_blank">Announcements</a>&nbsp;|&nbsp;
				<a ui-sref="ccda.releaseNotes" target="_blank">Release notes</a>&nbsp;|&nbsp;
				<a ui-sref="ccda.documents" target="_blank">Documents</a>
		  </div>

		  <div class="footeritem col-sm-5 text-right" style="font-size:12px; height:25px;">
			<a href="http://www.hhs.gov/Privacy.html" target="_blank">Privacy
			Policy</a> | <a href="http://www.hhs.gov/Disclaimer.html" target="_blank">Disclaimers</a>
		  </div>
		  <div class="footeritem col-sm-1 text-right" style="font-size:12px; height:25px;">
		 	 &nbsp;
		  </div>
		</div>
	</div>
</div>