<div class="navbar">
    <div id="appheader">
		<a href="https://www.healthit.gov/" title="HealthIT.gov" rel="external" class="site-logo">
			<img src="assets/img/healthit.gov.logo.png" alt="HealthIT.gov">
		</a>
    </div>
    <div class="navbar navbar-default" ng-controller="HeaderCtrl">
        <ul class="nav">
            <li>
                <a href ui-sref="home" analytics-on="click" analytics-event="Criteria ETT Home" analytics-category="Criteria ETT Home">
                    <div msg="" key="navbar.ttthome">ETT Home</div>
                </a>
            </li>
            <li ui-sref-active="active" analytics-on="click" analytics-event="Criteria Home" analytics-category="Criteria Home">
                <a ui-sref=".home">Criteria Home</a>
            </li>
            <li ng-class="{active: $state.includes('certification.certb1')}">
                <a ui-sref=".certb1.main" ui-sref-opts="{inherit: false}">&#167; 170.315(b)(1)</a>
            </li>
            <li ng-class="{active: $state.includes('certification.certh1')}">
                <a ui-sref=".certh1.main" ui-sref-opts="{inherit: false}">&#167; 170.315(h)(1)</a>
            </li>
            <li ng-class="{active: $state.includes('certification.certh2')}">
                <a ui-sref=".certh2.main" ui-sref-opts="{inherit: false}">&#167; 170.315(h)(2)</a>
            </li>
           <li ui-sref-active="active" class="pull-right">
                <a ui-sref=".help" analytics-on="click" analytics-event="Criteria Help" analytics-category="Criteria Help">
                    <div msg="" key="navbar.help"><i class="fa fa-question-circle"></i> Help</div>
                </a>
            </li>
            <li ui-sref-active="active" class="pull-right">
                <a ui-sref=".documents" analytics-on="click" analytics-event="Criteria Documents" analytics-category="Criteria Documents">
                    <div msg="" key="navbar.documents"><i class="fa fa-book"></i> Documents</div>
                </a>
            </li>
            <li class="pull-right" ng-show="!userInfo.logged">
                <a href="" analytics-on="click" analytics-event="Criteria Login" analytics-category="Criteria Login">
                    <div key="navbar.login" ng-click="loginPopup()">Login/Sign up</div>
                </a>
            </li>
            <li uib-dropdown class="pull-right" ng-show="userInfo.logged">
                <a href="#" uib-dropdown-toggle>Welcome {{userInfo.username}}<b class="caret"></b></a>
                <ul class="uib-dropdown-menu">
                    <li><a ui-sref=".accountInfo">Account Info</a>
                    </li>
                    <li><a ui-sref=".changePassword">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
